<div id="scoreboard">

  <!-- score -->
  <div class="score">
    <div class="lbl">Score</div>
    <div class="summary">
      <div class="player">
        <div class="player-name">Player: </div>
        <div class="points">{{ playerScore }}</div>
      </div>
      <div class="player">
        <div class="player-name">Computer: </div>
        <div class="points">{{ compScore }}</div>
      </div>
    </div>
  </div>

  <!-- message -->
  <div class="message">
    <div class="content">{{ message }}</div>
  </div>
</div>
