/* You can add global styles to this file, and also import other style files */

$white: #fff;
$black: #000;
$gray_1: #eee;

$primary_color: rgb(29, 116, 253);
$secondary_color: #000;

$board_color: rgb(31, 31, 31);
$cross_color: rgb(70, 168, 255);
$zero_color: rgb(233, 75, 82);